# 2.1 - Pandas Deepdive

![pandas_deep](images/pandas_deep.jpg)

### Importar un archivo

In [1]:
import pandas as pd
import numpy as np

In [2]:
# cargar archivos desde un zip

import zipfile

In [3]:
zp = zipfile.ZipFile('../data/mahindra.zip')

ctr = pd.read_csv(zp.open('test.csv'), nrows=1e5)

ctr.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,season_holidayed_code,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id
0,7dae1ce6bc8f69481328f2be5c4943077dad5598b5f66d...,05/04/18,05/04/18,06/04/18,3,2,2,0,45,3,...,2.0,2.0,3,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,A,C,9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739...
1,fe0d4e444e1818436c88f72f1cf800536c2f785e59baeb...,24/05/15,23/06/15,27/06/15,1,2,4,0,45,1,...,2.0,2.0,4,2,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,e7f6c011776e8db7cd330b54174fd76f7d0216b612387a...
2,540bd4285ad8168e8388f84ee74a82cd4f97dc0a404d3e...,21/07/15,07/08/15,10/08/15,3,2,3,0,45,2,...,4.0,2.0,2,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...
3,09593c907ae262e46f655b4db9e14f54a19eadcfdd2679...,31/07/15,22/10/15,25/10/15,1,2,3,0,45,1,...,2.0,2.0,6,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...
4,f4c50caac68051faf37551d70bb17eebef2a20e2244cb1...,01/07/16,01/10/16,05/10/16,1,2,4,0,45,1,...,2.0,2.0,11,2,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027...

In [4]:
ctr.shape

(100000, 23)

In [5]:
# exportar a csv 
ctr.to_csv('../data/prueba.csv', index=False)

In [6]:
# exportar a un excel
ctr.to_excel('../data/prueba.xlsx', index=False)

In [32]:
# cargar de un archivo xlsx
df = pd.read_excel('../data/Online Retail.xlsx')

df.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

In [33]:
# crear una columna de nulos
df['Null ID'] = [i if i%2 else None for i in range (len(df))]

df.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Null ID
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN

In [34]:
# renombrar

df.columns

Index(['InvoiceNo', 'InvoiceDate', 'StockCode', 'Description', 'Quantity',
       'UnitPrice', 'Revenue', 'CustomerID', 'Country', 'Null ID'],
      dtype='object')

In [35]:
new_cols = [c.lower().replace(' ', '_') for c in df.columns]

new_cols

['invoiceno',
 'invoicedate',
 'stockcode',
 'description',
 'quantity',
 'unitprice',
 'revenue',
 'customerid',
 'country',
 'null_id']

In [36]:
dict(zip(df.columns, new_cols))

{'InvoiceNo': 'invoiceno',
 'InvoiceDate': 'invoicedate',
 'StockCode': 'stockcode',
 'Description': 'description',
 'Quantity': 'quantity',
 'UnitPrice': 'unitprice',
 'Revenue': 'revenue',
 'CustomerID': 'customerid',
 'Country': 'country',
 'Null ID': 'null_id'}

In [37]:
df = df.rename(columns={k:v for k,v in zip(df.columns, new_cols)}) # k=columna vieja, v= columna nueva

df.head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,null_id
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN

In [38]:
df.invoiceno[:5]

0    536365
1    536373
2    536375
3    536390
4    536394
Name: invoiceno, dtype: int64

### DescripciÃ³n de los datos

In [39]:
df.shape

(396034, 10)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoiceno    396034 non-null  int64
 1   invoicedate  396034 non-null  datetime64[ns]
 2   stockcode    396034 non-null  object
 3   description  396034 non-null  object
 4   quantity     396034 non-null  int64
 5   unitprice    396034 non-null  float64
 6   revenue      396034 non-null  float64
 7   customerid   396034 non-null  int64
 8   country      396034 non-null  object
 9   null_id      198017 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 30.2+ MB

In [41]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoiceno    396034 non-null  int64
 1   invoicedate  396034 non-null  datetime64[ns]
 2   stockcode    396034 non-null  object
 3   description  396034 non-null  object
 4   quantity     396034 non-null  int64
 5   unitprice    396034 non-null  float64
 6   revenue      396034 non-null  float64
 7   customerid   396034 non-null  int64
 8   country      396034 non-null  object
 9   null_id      198017 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 93.7 MB

In [42]:
df2 = df.copy() # backup

In [43]:
# valores no nulos

df.count()

invoiceno      396034
invoicedate    396034
stockcode      396034
description    396034
quantity       396034
unitprice      396034
revenue        396034
customerid     396034
country        396034
null_id        198017
dtype: int64

In [44]:
# valores unicos

df.country.unique()

array(['United Kingdom', 'Spain', 'Cyprus', 'EIRE', 'Portugal',
       'Netherlands', 'Australia', 'Singapore', 'Switzerland', 'Finland',
       'Channel Islands', 'France', 'Malta', 'Italy', 'Israel', 'Germany',
       'Austria', 'Norway', 'Denmark', 'Sweden', 'Belgium', 'Canada',
       'Poland', 'Japan', 'Iceland', 'Greece', 'Lebanon', 'South Africa',
       'Czech Republic', 'USA', 'Brazil', 'United Arab Emirates',
       'Lithuania', 'Saudi Arabia', 'Bahrain'], dtype=object)

In [45]:
len(df.country.unique())

35

In [46]:
# contar valores unicos

df.country.value_counts()

United Kingdom          353983
Germany                   8658
France                    8034
EIRE                      7136
Spain                     2422
Netherlands               2322
Belgium                   1935
Switzerland               1810
Portugal                  1425
Australia                 1181
Norway                    1048
Channel Islands            744
Italy                      741
Finland                    647
Cyprus                     612
Sweden                     428
Austria                    384
Denmark                    367
Poland                     325
Japan                      321
Israel                     248
Singapore                  215
Iceland                    182
USA                        179
Canada                     150
Greece                     142
Malta                      109
United Arab Emirates        67
South Africa                57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              24
Bahrain                     17
Saudi Arabia                 9
Name: country, dtype: int64

In [47]:
# descripcion estadistica

df.describe()

,invoiceno,quantity,unitprice,revenue,customerid,null_id
count,396034.000000,396034.000000,396034.000000,396034.000000,396034.000000,198017.000000
mean,560620.294401,12.624838,2.867826,21.492062,15302.695435,198017.000000
std,13110.655964,42.816911,4.265226,93.863439,1709.744925,114325.456929
min,536365.000000,1.000000,0.040000,0.060000,12347.000000,1.000000
25%,549198.500000,2.000000,1.250000,4.680000,13975.000000,99009.000000
50%,561894.000000,6.000000,1.950000,11.800000,15160.000000,198017.000000
75%,572095.000000,12.000000,3.750000,19.800000,16805.000000,297025.000000
max,581587.000000,4800.000000,649.500000,38970.000000,18287.000000,396033.000000

In [48]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
invoiceno,396034.0,560620.294401,13110.655964,536365.00,549198.50,561894.00,572095.00,581587.0
quantity,396034.0,12.624838,42.816911,1.00,2.00,6.00,12.00,4800.0
unitprice,396034.0,2.867826,4.265226,0.04,1.25,1.95,3.75,649.5
revenue,396034.0,21.492062,93.863439,0.06,4.68,11.80,19.80,38970.0
customerid,396034.0,15302.695435,1709.744925,12347.00,13975.00,15160.00,16805.00,18287.0
null_id,198017.0,198017.000000,114325.456929,1.00,99009.00,198017.00,297025.00,396033.0

In [49]:
df[['quantity', 'unitprice', 'revenue']].describe().T

              count       mean        std   min   25%    50%    75%      max
quantity   396034.0  12.624838  42.816911  1.00  2.00   6.00  12.00   4800.0
unitprice  396034.0   2.867826   4.265226  0.04  1.25   1.95   3.75    649.5
revenue    396034.0  21.492062  93.863439  0.06  4.68  11.80  19.80  38970.0

In [50]:
df[['quantity', 'unitprice', 'revenue']].describe().T['mean']

quantity     12.624838
unitprice     2.867826
revenue      21.492062
Name: mean, dtype: float64

In [51]:
df[['quantity', 'unitprice', 'revenue']].median()

quantity      6.00
unitprice     1.95
revenue      11.80
dtype: float64

### SelecciÃ³n dentro del dataframe

In [52]:
# seleccion por nombre

df[['quantity', 'unitprice', 'revenue']].tail()

        quantity  unitprice  revenue
396029        12       0.29     3.48
396030        12       0.29     3.48
396031        12       0.19     2.28
396032        12       0.19     2.28
396033         1       0.19     0.19

In [54]:
# segun condicion

df[df.quantity == 32].head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,null_id
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN
10,536542,2010-12-01 14:11:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.95,94.4,16456,United Kingdom,NaN
30,536795,2010-12-02 15:40:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,15640,United Kingdom,NaN
51,537210,2010-12-05 15:15:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,15953,United Kingdom,51.0
59,537393,2010-12-06 13:59:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13089,United Kingdom,59.0

In [56]:
df[~(df.quantity==32)].head() # ~ es el NO lÃ³gico en python

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,null_id
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
5,536396,2010-12-01 10:51:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,5.0

In [57]:
df[df.quantity != 32].head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,null_id
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
5,536396,2010-12-01 10:51:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,5.0

In [58]:
df[df.quantity not 32].head()

SyntaxError: invalid syntax (1786113791.py, line 1)

In [59]:
df[(df.quantity == 32) & (df.unitprice == .29)] # multicondiciÃ³n

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,null_id
193560,580662,2011-12-05 13:58:00,22578,WOODEN STAR CHRISTMAS SCANDINAVIAN,32,0.29,9.28,15856,United Kingdom,NaN

In [ ]:
'& | ~ > < >= <= == !=' # operadores lÃ³gicos

In [64]:
df[(df.quantity == 32) & ~(df.unitprice == .29)].head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,null_id
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN
10,536542,2010-12-01 14:11:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.95,94.4,16456,United Kingdom,NaN
30,536795,2010-12-02 15:40:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,15640,United Kingdom,NaN
51,537210,2010-12-05 15:15:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,15953,United Kingdom,51.0
59,537393,2010-12-06 13:59:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13089,United Kingdom,59.0

In [67]:
df[(df.quantity == 32) & ((df.country=='EIRE') | (df.country == 'Spain'))].head() # | or lÃ³gico

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,null_id
393,543114,2011-02-03 13:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.60,14156,EIRE,393.0
464,544690,2011-02-23 08:48:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.60,14156,EIRE,NaN
1061,555947,2011-06-08 10:45:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.60,14911,EIRE,1061.0
1659,571314,2011-10-17 10:43:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.60,14156,EIRE,1659.0
5352,565851,2011-09-07 13:06:00,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,54.08,14911,EIRE,NaN

In [68]:
df[(df.quantity == 32) & ((df.country=='EIRE') | (df.country == 'Spain'))]['country'].value_counts()

EIRE     20
Spain    14
Name: country, dtype: int64

In [69]:
df[(df.quantity == 32) & ((df.country=='EIRE') | (df.country == 'Spain'))].country.value_counts()

EIRE     20
Spain    14
Name: country, dtype: int64

In [ ]:
# seleccion por indice

In [ ]:
# reiniciar indices

In [ ]:
# muestras aleatorias

In [ ]:
# seleccion de datos numericos

In [ ]:
# selecciÃ³n por tipos de datos

### Cambio del tipo de datos

### Manejo de valores nulos

**Â¿QuÃ© hacemos?**

### AgrupaciÃ³n

### Pivot table 

https://archive.ics.uci.edu/ml/datasets/Student+Performance

pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False, sort=True)

### Cross table

### AplicaciÃ³n de funciones

### Json Normalize, Explode

### UniÃ³n de dataframes

### Eval y query

### lookup

### get

### index y reindex

### Multi index

### Exportar datos

### MÃ©todos habituales de pandas

```python
df.head()                     # printea la cabeza, por defecto 5 filas
df.tail()                     # pritea la cola, por defecto 5 filas
df.describe()                 # descripcion estadistica
df.info()                     # informacion del df
df.info(memory_usage='deep')
df.columns                    # muestra columna
df.index                      # muestra indice
df.dtypes                     # muestra tipos de datos de las columnas
df.plot()                     # hace un grafico
df.hist()                     # hace un histograma
df.col.value_counts()         # cuenta los valores unicos de una columna
df.col.unique()               # muestra valores unicos de una columna
df.copy()                     # copia el df
df.drop()                     # elimina columnas o filas (axis=0,1)
df.dropna()                   # elimina nulos
df.fillna()                   # rellena nulos
df.shape                      # dimensiones del df
df._get_numeric_data()        # selecciona columnas numericas
df.rename()                   # renombre columnas
df.str.replace()              # reemplaza columnas de strings
df.astype(dtype='float32')    # cambia el tipo de dato
df.iloc[]                     # localiza por indice
df.loc[]                      # localiza por elemento
df.transpose()                # transpone el df
df.T
df.sample(n, frac)            # muestra del df
df.col.sum()                  # suma de una columna
df.col.max()                  # maximo de una columna
df.col.min()                  # minimo de una columna
df[col]                       # selecciona columna
df.col
df.isnull()                   # valores nulos
df.isna()
df.notna()                    # valores no nulos
df.drop_duplicates()          # eliminar duplicados
df.reset_index(inplace=True)  # resetea el indice y sobreescribe
```